.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 92px 0 0;
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 55px 0 0;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    padding: 44px 0 0;
  }
}

.intro__title {
  color: white;
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
  max-width: 1017px;
  margin: 0;
}

@media screen and (max-width: 1020px) {
  .intro__title {
    max-width: 817px;
  }
}

@media screen and (max-width: 768px) {
  .intro__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 720px) {
  .intro__title {
    max-width: 520px;
  }
}

@media screen and (max-width: 500px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 444px;
  }
}

@media screen and (max-width: 370px) {
  .intro__title {
    max-width: 258px;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    max-width: 288px;
  }
}

.intro__quote {
  color: white;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  max-width: 722px;
  max-height: 146px;
  margin: 40px 295px 0 0;
  position: relative;
}

@media screen and (max-width: 1020px) {
  .intro__quote {
    max-width: 722px;
    margin: 40px 95px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .intro__quote {
    max-width: 720px;
    margin: 15px 0 0;
  }
}

@media screen and (max-width: 720px) {
  .intro__quote {
    max-width: 420px;
    max-height: 266px;
    margin: 15px 100px 0 0;
  }
}

@media screen and (max-width: 500px) {
  .intro__quote {
    max-width: 444px;
    max-height: 296px;
    margin: 15px 0 0;
  }
}

@media screen and (max-width: 370px) {
  .intro__quote {
    max-width: 258px;
    max-height: 406px;
  }
}

@media screen and (max-width: 320px) {
  .intro__quote {
    line-height: 30px;
    max-width: 288px;
    max-height: 360px;
    margin: 9px 0 0;
  }
}

.intro__quote-cite {
  color: white;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  max-width: 720px;
  max-height: 60px;
  text-align: right;
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 2px 0 0;
}

@media screen and (max-width: 720px) {
  .intro__quote-cite {
    max-height: 80px;
  }
}

@media screen and (max-width: 370px) {
  .intro__quote-cite {
    bottom: auto;
  }
}

@media screen and (max-width: 320px) {
  .intro__quote-cite {
    bottom: -30px;
  }
}

.intro__text {
  color: white;
  font-size: 16px;
  line-height: 26.08px;
  font-weight: 400;
  max-width: 720px;
  margin: 32px 297px 0 0;
}

@media screen and (max-width: 1020px) {
  .intro__text {
    max-width: 720px;
    margin: 32px 97px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .intro__text {
    margin: 32px 0 0;
  }
}

@media screen and (max-width: 720px) {
  .intro__text {
    max-width: 520px;
  }
}

@media screen and (max-width: 500px) {
  .intro__text {
    max-width: 444px;
  }
}

@media screen and (max-width: 370px) {
  .intro__text {
    max-width: 258px;
    max-height: 866px;
    margin: 70px 0 0;
  }
}

@media screen and (max-width: 320px) {
  .intro__text {
    max-width: 288px;
  }
}
