.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0 0;
  }

  @media screen and (max-width: 320px) {
    .lead {
      padding: 50.15px 0 0;
    }
  }

  .lead__title {
    color: white;
    font-size: 96px;
    line-height: 100px;
    font-weight: 900;
    text-align: center;
    margin: 0;
    max-width: 793px;
  }

  @media screen and (max-width: 768px) {
    .lead__title {
      max-width: 720px;
    }
  }

  @media screen and (max-width: 320px) {
    .lead__title {
      font-size: 40px;
      line-height: 44px;
      max-width: 288px;
    }
  }

  .lead__subtitle {
    color: white;
    max-width: 720px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 32px 0 0;
  }

  @media screen and (max-width: 768px) {
    .lead__subtitle {
      margin: 99px 0 0;
    }
  }

  @media screen and (max-width: 320px) {
    .lead__subtitle {
      max-width: 288px;
      font-size: 16px;
      line-height: 20px;
      margin: 60px 0 0;
    }
  }

  .lead__photo {
    margin: 64px 0 0;
    width: 100%;
    max-width: 984px;
  }

  @media screen and (max-width: 768px) {
    .lead__photo {
      margin: 69px 0 0;
      max-width: 768px;
    }
  }

  @media screen and (max-width: 320px) {
    .lead__photo {
      margin: 40px 0 0;
      max-width: 320px;
    }
  }