.place-kiev {
  display: grid;
  grid-template-areas:
    "title subtitle"
    "image paragraph"
    "button . ";
  padding: 92px 0 0;
  width: 984px;
  height: 760px;
  gap: 48px 40px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .place-kiev {
    grid-template-areas:
      "title subtitle"
      "image paragraph"
      "button paragraph";
    padding: 88px 0 0;
    width: 720px;
    height: 600px;
    gap: 0 28px;
    grid-template-columns: 340px 352px;
    grid-template-rows: auto 388px auto;
  }
}

@media screen and (max-width: 320px) {
  .place-kiev {
    display: block;
    padding: 62px 0 0;
    width: 320px;
    height: 1173px;
  }
}

.place-kiev__title {
  grid-area: title;
  color: white;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  max-width: 460px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .place-kiev__title {
    font-size: 42px;
    line-height: 46px;
    max-width: 340px;
    max-height: 46px;
    margin: 0 0 46px;
  }
}

@media screen and (max-width: 320px) {
  .place-kiev__title {
    font-size: 32px;
    max-width: 288px;
    max-height: 35px;
    margin: 0 auto;
  }
}

.place-kiev__subtitle {
  grid-area: subtitle;
  margin: 107px 0 0;
}

@media screen and (max-width: 768px) {
  .place-kiev__subtitle {
    margin: 0 0 24px;
    max-height: 67px;
  }
}

@media screen and (max-width: 320px) {
  .place-kiev__subtitle {
    padding: 30px 0 30px;
    max-width: 288px;
    margin: 0 auto;
  }
}

.place-kiev__subtitle-artist {
  color: #aaa;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  letter-spacing: 2px;
}

.place-kiev__subtitle-name {
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin: 8px 0 0;
}

@media screen and (max-width: 768px) {
  .place-kiev__subtitle-name {
    max-width: 295px;
  }
}

@media screen and (max-width: 320px) {
  .place-kiev__subtitle-name {
    line-height: 22px;
    max-width: 288px;
    max-height: 44px;
  }
}

.place-kiev__image {
  grid-area: image;
  max-width: 460px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .place-kiev__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 320px) {
  .place-kiev__image {
    max-width: 320px;
  }
}

.place-kiev__paragraph {
  grid-area: paragraph;
  max-width: 484px;
}

@media screen and (max-width: 768px) {
  .place-kiev__paragraph {
    max-width: 352px;
  }
}

@media screen and (max-width: 320px) {
  .place-kiev__paragraph {
    max-width: 288px;
    margin: 0 auto;
  }
}

.place-kiev__paragraph-up {
  color: white;
  font-size: 18px;
  line-height: 29.34px;
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .place-kiev__paragraph-up {
    font-size: 16px;
    line-height: 26.08px;
  }
}

.place-kiev__paragraph-down {
  color: white;
  font-size: 18px;
  line-height: 29.34px;
  font-weight: 400;
  margin: 25px 0 0;
}

@media screen and (max-width: 768px) {
  .place-kiev__paragraph-down {
    font-size: 16px;
    line-height: 26.08px;
    margin: 14px 0 0;
  }
}

@media screen and (max-width: 320px) {
  .place-kiev__paragraph-down {
    margin: 7px 0 8px;
  }
}

.place-kiev__button {
  grid-area: button;
  border-radius: 4px;
  background-color: #0278fe;
  color: white;
  padding: 13px 20px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  width: 315px;
}

@media screen and (max-width: 768px) {
  .place-kiev__button {
    height: 22px;
  }
}

@media screen and (max-width: 320px) {
  .place-kiev__button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 248px;
    margin: 0 auto;
  }
}

.place-kiev__button:hover {
  background-color: #0063d2;
}
