.place-barea {
  display: grid;
  grid-template-areas:
    "title subtitle"
    "image paragraph"
    "button paragraph";
  padding: 35px 0 0;
  width: 984px;
  height: 725px;
  gap: 48px 40px;
  margin: auto;
  grid-template-columns: 460px 484px;
}

@media screen and (max-width: 1020px) {
  .place-barea {
    width: 784px;
    height: 800px;
    margin: 0 auto;
    grid-template-columns: 357px 387px;
    grid-template-rows: auto 357px auto;
  }
}

@media screen and (max-width: 768px) {
  .place-barea {
    padding: 46px 0 0;
    width: 720px;
    height: 634px;
    gap: 48px 28px;
    grid-template-columns: 340px 352px;
    grid-template-rows: auto 340px auto;
  }
}

@media screen and (max-width: 720px) {
  .place-barea {
    width: 620px;
    height: 752px;
    gap: 38px 28px;
    grid-template-columns: 280px 310px;
    grid-template-rows: auto 280px auto;
  }
}

@media screen and (max-width: 615px) {
  .place-barea {
    display: block;
    padding: 62px 0 0;
    width: 444px;
    height: 1085px;
  }
}

@media screen and (max-width: 320px) {
  .place-barea {
    padding: 36px 0 0;
    width: 320px;
    height: 1172px;
  }
}

.place-barea__title {
  grid-area: title;
  color: white;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  max-width: 584px;
  max-height: 152px;
  margin: 0 0 17px;
  grid-column: 1/3;
  grid-row: 1/3;
}

@media screen and (max-width: 768px) {
  .place-barea__title {
    font-size: 42px;
    line-height: 46px;
    width: 340px;
    max-height: 92px;
    margin: 0 0 2px;
  }
}

@media screen and (max-width: 720px) {
  .place-barea__title {
    margin: 0;
    max-height: 90px;
  }
}

@media screen and (max-width: 615px) {
  .place-barea__title {
    max-width: 444px;
    margin: 15px 0;
  }
}

@media screen and (max-width: 320px) {
  .place-barea__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    max-height: 70px;
    margin: 0 auto;
  }
}

.place-barea__subtitle {
  grid-area: subtitle;
  margin: 76px 0 0;
  max-height: 45px;
}

@media screen and (max-width: 768px) {
  .place-barea__subtitle {
    margin: 0;
    max-width: 352px;
  }
}

@media screen and (max-width: 720px) {
  .place-barea__subtitle {
    margin: 50px 0 0;
  }
}

@media screen and (max-width: 615px) {
  .place-barea__subtitle {
    max-width: 444px;
    margin: 10px 0;
  }
}

@media screen and (max-width: 320px) {
  .place-barea__subtitle {
    padding: 10px 0 20px;
    max-width: 288px;
    margin: 0 auto;
  }
}

.place-barea__subtitle-artist {
  color: #aaa;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  letter-spacing: 2px;
}

.place-barea__subtitle-name {
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin: 8px 0 0;
}

.place-barea__image {
  grid-area: image;
  max-width: 460px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .place-barea__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 615px) {
  .place-barea__image {
    max-width: 444px;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .place-barea__image {
    max-width: 320px;
  }
}

.place-barea__paragraph {
  grid-area: paragraph;
  max-width: 484px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .place-barea__paragraph {
    max-width: 352px;
  }
}

@media screen and (max-width: 720px) {
  .place-barea__paragraph {
    max-height: 706px;
    grid-row: 2/4;
  }
}

@media screen and (max-width: 615px) {
  .place-barea__paragraph {
    max-width: 444px;
    margin: 10px 0 0;
  }
}

@media screen and (max-width: 320px) {
  .place-barea__paragraph {
    max-width: 288px;
    margin: 0 auto;
  }
}

.place-barea__paragraph-up {
  color: white;
  font-size: 18px;
  line-height: 29.34px;
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .place-barea__paragraph-up {
    font-size: 15.8px;
    line-height: 26.08px;
    max-width: 352px;
    max-height: 312px;
  }
}

@media screen and (max-width: 720px) {
  .place-barea__paragraph-up {
    max-height: 438px;
  }
}

@media screen and (max-width: 615px) {
  .place-barea__paragraph-up {
    max-width: 444px;
  }
}

@media screen and (max-width: 320px) {
  .place-barea__paragraph-up {
    font-size: 16px;
    margin: 0 auto;
    max-width: 288px;
    max-height: 390px;
  }
}

.place-barea__paragraph-down {
  color: white;
  font-size: 18px;
  line-height: 29.34px;
  font-weight: 400;
  margin: 17px 0 0;
}

@media screen and (max-width: 768px) {
  .place-barea__paragraph-down {
    font-size: 16px;
    line-height: 26.08px;
    margin: 20px 0 0;
  }
}

@media screen and (max-width: 720px) {
  .place-barea__paragraph-down {
    max-height: 264px;
    margin: 15px 0 0;
  }
}

@media screen and (max-width: 615px) {
  .place-barea__paragraph-down {
    margin: 10px 0;
  }
}

@media screen and (max-width: 320px) {
  .place-barea__paragraph-down {
    margin: 0 0 6px;
  }
}

.place-barea__button {
  grid-area: button;
  border-radius: 4px;
  background-color: #0278fe;
  color: white;
  padding: 13px 20px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  width: 315px;
}

@media screen and (max-width: 1020px) {
  .place-barea__button {
    height: 22px;
  }
}

@media screen and (max-width: 720px) {
  .place-barea__button {
    width: 245px;
    height: 17px;
    font-size: 14px;
  }
}

@media screen and (max-width: 615px) {
  .place-barea__button {
    display: flex;
    justify-content: left;
    width: 246px;
  }
}

@media screen and (max-width: 320px) {
  .place-barea__button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 248px;
    margin: 0 auto;
  }
}

.place-barea__button:hover {
  background-color: #0063d2;
}
